/*este es un comentario*/
.topheader {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  text-decoration: none;
  color: blue;
  display: block;
  padding: 0px 30px;
}

.Menu-Vertical {
  display: none;
  padding: 10px;
  position: absolute;
  list-style: none;
  width: 150px;
}

.Menu-Horizontal li a:hover {
  color: red;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
/*Seccion cafe*/
.seccion-cafe {
  padding: 50px 20px;
  background-color: black;
}
.div-gral-cafe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
.div-cafe-texto {
  flex: 1;
}
.div-cafe-texto h2 {
  color: red;
  margin-bottom: 15px;
}
.div-cafe-texto p {
  color: white;
  line-height: 1.8;
  text-align: justify;
}
.div-cafe-img {
  flex: 1;
}
/*seccion promocion pe*/
.seccion-promo {
  padding: 20px 20px;
  background-color: black;
}
.div-gral-promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max: width 1200;
  margin: 0 auto;
  gap: 40px;
}
.div-promo-texto {
  flex: 1;
}
.div-promo-texto h2 {
  color: green;
  margin-bottom: 50px;
}
.div-promo-texto p {
  color: white;
  line-height: 2;
  text-align: justify;
}

/*Seccion formulario*/
.seccion-formulario {
  background-color: floralwhite;
  padding: 40px;
  border: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.div-cont-formulario {
  background-color: cyan;
  padding: 30px;
  border: 2px solid purple;
  border-radius: 10px;
  width: 20%;
  max-width: 500;
}
.campo {
  background-color: red;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.formulario label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
  color: white;
}
/*input:text-select*/
.formulario input[type="text"],
.formulario select {
  width: 100px;
  padding: 6px;
  border: 1px solid purple;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 10px;
  margin: 10px;
  border: 1px;
  background-color: salmon;
  margin-bottom: 8px;
}
.formulario button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: center;
  justify-content: center;
}

h1 {
  text-decoration: line-through underline overline;
  color: blue;
}
h2 {
  color: black;
}
h5 {
  color: green;
}
h6 {
  color: red;
}
